/*desenvolvido por  https://github.com/LoRodrig*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

p {
  color: aliceblue;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(12, 1, 61, 0.795);
}

.caixa-maior {
  /* caixa que engloba tudo*/
  background: rgb(126, 120, 215);
  background: linear-gradient(
    0deg,
    rgba(126, 120, 215, 0.342) 24%,
    rgba(0, 213, 255, 0.26) 100%
  );
  border-radius: 1rem;
  width: 80%;
  max-width: 26rem;
  margin: 6rem auto;
  padding: 2.5rem 2.1rem;
  text-align: center;
}

i {
  /* icone de pesquisa */
  height: 1rem;
  width: 2rem;
}

button {
  border: none;
  outline: none;
  height: 3.75rem;
  width: 3.75rem;
  border-radius: 5rem;
  background-color: #ebfffc;
  cursor: pointer;
}

input {
  /* caixa aonde escreve */
  border: none;
  outline: none;
  padding: 0.5rem;
  border-radius: 1.8rem;
  font-size: 1.2rem;
  height: 3.75rem;
  width: 16rem;
  background-color: #ebfffc;
  flex: 1;
  color: #555;
  text-align: center;
  margin-right: 1rem;
}
.cidade {
  font-size: 3rem;
  color: white;
  font-weight: 300;
}
.temperatura {
  margin-top: 1rem;
  font-size: 4rem;
  color: white;
}

.caixa-menor {
  /* caixa aonde fica os icones e informações */
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.25rem;
}
.iconeTempo {
  margin-top: 1rem;
  width: 8rem;
}

.icone-nuvem,
.icone-umidade {
  width: 2rem;
  height: auto;
}

@media screen and (max-width: 360px) {
  .caixa-maior {
    width: 100%; /* Reduzindo ainda mais para telas menores */
    margin: 2rem auto; /* Ajustando a margem */
    padding: 2rem 1.5rem; /* Ajustando o padding */
    max-width: 18rem;
  }
  
  input {
    width: 70%; /* Reduzindo o tamanho do input */
    font-size: 1rem;
    height: 3rem;
     width: 10rem;
  }
  
  .cidade {
    font-size: 1rem; /* Reduzindo o tamanho da fonte */
  }
  
  .temperatura {
    font-size:2rem; /* Reduzindo o tamanho da fonte */
    
  }
  
  .iconeTempo {
    width: 6rem; /* Reduzindo o tamanho do ícone */
  }
  .caixa-menor{
    font-size: 12px;
    padding: 0 ;
  }
}
